
* {
    box-sizing: border-box;
}

/* COUNTDOWN PAGE
********************************************/


.countdownPage {
    background-image: linear-gradient(
        rgba(255, 115, 0, 0.4),
        rgba(255, 115, 0, 0.4)),
        url(./images/fond.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0!important;
    min-height: 100vh;
}

h1 {
    font-family: 'Zen Dots', sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 5rem!important;
    text-align: center;
    color: black;

}

.countdown-container {
    display: flex;
}

.big-text {
    font-family: 'ZCOOL XiaoWei', sans-serif;
    font-weight: 800;
    font-size: 7rem;
    line-height: 1;
    margin: 0 2rem;
    color: black;
}

.countdown-el {
    text-align: center;
}

.countdown-el span{
    font-size: 1rem;
    font-family: 'Zen Dots', sans-serif;
    color: black;
}

.homeBtn {
    margin-top: 3rem;
    font-family: 'Zen Dots', sans-serif!important;
    text-transform: uppercase!important;
    font-size: 1.5em!important;
    background-color: rgba(255, 115, 0);
    border: 1px solid black;
    padding: 10px 30px;
    border-radius: 5px!important;
    margin-top: 2rem!important;
    transition: 0.5s;
}
.homeBtn:hover {
    background-color: #FFFFFF!important;
    transition: 0.5s;
}
.homeBtn:active {
    background-color: black!important;
    color: #FFFFFF;
}



/* HOME PAGE
********************************************/

.container {
    margin: 20px 0;
}
.container-fluid {
    margin: 20px 0;
}
.containerText {
    background-color: rgba(255, 115, 0);
}

h2 {
    font-family: 'Zen Dots', sans-serif!important;
    color: black;
    margin: 40px 0!important;
}

p {
    font-family: 'Raleway', sans-serif;
    color: black;
    font-size: 1.6em;
    font-weight: 400;  
}

.first-title {
    margin: 10px 0 40px 0!important;
}
.title-countdown {
    margin-bottom: 0!important;
}


.img-galery {
    display: block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    height: 500px;
}
.img-spec1 {
    background-position: top center;
    height: 700px;
}
.img-spec2 {
    background-position: top center;
    height: 400px;
}
.img-spec3 {
    background-position: top center;
}
.img-spec5 {
    background-position: center;
    height: 700px;
}
.img-spec6 {
    height: 700px;
}

.firstText .fas {
    color: black;
}
ul {
    list-style: none;
}

.contact a {
    text-decoration: none;
}
.contact h2 {
    margin-top: 0!important;
}

.fas {
    margin-right: 20px;
}

.mail {
    color: black;
    font-family: 'Raleway', sans-serif;
    background-color: rgba(255, 115, 0);
    border: 1px solid black;
    padding: 0!important;
    border-radius: 5px!important;
    transition: 0.5s;
    margin: 0!important;
}
.mail:hover {
    background-color: #FFFFFF!important;
    transition: 0.5s;
}
.mail:active {
    background-color: black!important;
    color: #FFFFFF;
}

.countdownPageRepeat {
    background-image: linear-gradient(
        rgba(255, 115, 0, 0.4),
        rgba(255, 115, 0, 0.4)),
        url(./images/fond.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0!important;
    min-height: 50vh;
}

.containerRobot {
    background-color: #F6F6F6;
    margin: 0;
}







.map {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
}

.map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}












@media screen and (max-width: 576px) {
    h1 {
        font-size: 2rem!important;
    }
    
    .big-text {
        font-size: 2.5rem;
        margin: 1rem 1rem 0 1rem;
    }

    .countdown-el span{
        font-size: 0.7rem;
    }
    button {
        font-size: 0.8em!important;
    }
    .img-galery {
        height: 300px;
    }
    .img-spec1 {
        background-position: top center;
        height: 150px;
    }
    .img-spec2 {
        background-position: center;
        height: 150px;
    }
    .img-spec4{
        background-position: top center;
    }
    .img-spec5 {
        height: 150px;
    }
}


@media screen and (min-width: 577px) and (max-width: 768px) {
    h1 {
        font-size: 3rem!important;
    }
    
    .big-text {
        font-size: 4rem;
        margin: 0 1.5rem;
    }

    .countdown-el span{
        font-size: 0.9rem;
    }

    button {
        font-size: 1.2em!important;
    }
    .img-galery {
        height: 300px;
    }
    .img-spec1 {
        background-position: top center;
        height: 150px;
    }
    .img-spec2 {
        background-position: center;
        height: 150px;
    }
    .img-spec5 {
        height: 150px;
    }

    
    
}
